<h2>Edit Profile:</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><br/></div>

  <!-- CONTACT -->
<div><b>NumBeer-ID : <%= f.label @contact.numbeer_id %></b></div>
  <br>
  <div><%= f.label :first_name %><br />
    <%=text_field_tag "contact[first_name]" ,@contact.first_name %></div>
  
  <div><%= f.label :last_name %><br />
    <%=text_field_tag "contact[last_name]" ,@contact.last_name %></div>

  <div><%= f.label :phone_number %><br />
    <%=telephone_field_tag "contact[phone_number]" ,@contact.phone_number %></div>
  <br>
  <p><b>Get Email Notifications About:</b></p>
  <div><%= f.label :happy_hour, "Happy Hour: " %>
    <%= check_box_tag "contact[happy_hour]" ,@contact.happy_hour %></div>

  <div><br/></div>

  <div><%= f.submit "Update" %></div>
<% end %>
<hr>
<h3>Cancel My Account: </h3>
<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>