<%- model_class = Record -%>
  <div id="account_info" class="span6 offset3">
<div id="records_list">
      <h3>Balance: <%= number_to_currency(@balance) %></h3> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:amount) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <td><%= record.id %></td>
          <td style="text-align:right"><%= number_to_currency(record.amount) %></td>
          <td style="text-align:right"><%=l record.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="bills_list">
  <p>Link to Bill</p>
</div>
</div>