<h1>Contact</h1>
<p>If you have any ideas or comments that you would like to share with us, let us know:</p>
<% if @success %>
  Thank you for contacting us!
<% else %>
  <p>

    <%= form_tag do %>

      <div class="field">
        <%= label_tag :name, "Name" %>
        <%= text_field_tag :name %>
      </div>

      <div class="field">
        <%= label_tag :email, "E-mail" %>
        <%= text_field_tag :email %>
      </div>

      <div class="field">
        <%= label_tag :message %>
        <%= text_area_tag :message %>
      </div>

      <div class="field">
        <%= submit_tag "Submit", :class => "btn btn-primary btn-large" %>
      </div>

    <% end %>

  </p>
<% end %>