<div id="pour" class="text-center">
<% if @keg.present? %>
  <div id="pour-title">
    <h2>Pour a Beer</h2>
    <p>Enter in your NumBeer-id and click 'Pour'. If the ID is valid, then you will be allowed to pour a beer.</p>
  </div>

  <div id="pour-on-tap">
    <h3>Currently on Tap:</h3>
    <h2><%= @keg.get_info() %></h2>  
  </div>

  <%= form_tag("/pour", method: "post", :honeypot => true ) do %>
    <div><%= label_tag(:numbeer_id, "NumBeer-ID :") %></div>
  <div><%= text_field_tag(:numbeer_id) %></div>
    <div id="keypad" class="keypad vertical-align:top;">
      <input type="button" class="keypad-btn btn btn-default btn-large" value="7"/>
      <input type="button" class="keypad-btn btn btn-default btn-large" value="8"/>
      <input type="button" class="keypad-btn btn btn-default btn-large" value="9"/><br/>
      <input type="button" class="keypad-btn btn btn-default btn-large" value="4"/>
      <input type="button" class="keypad-btn btn btn-default btn-large" value="5"/>
      <input type="button" class="keypad-btn btn btn-default btn-large" value="6"/><br/>
      <input type="button" class="keypad-btn btn btn-default btn-large" value="1"/>
      <input type="button" class="keypad-btn btn btn-default btn-large" value="2"/>
      <input type="button" class="keypad-btn btn btn-default btn-large" value="3"/><br/>
      <input type="button" class="keypad-btn btn btn-default btn-large" value="DEL"/>
      <input type="button" class="keypad-btn btn btn-default btn-large" value="0"/>
      <input type="button" class="keypad-btn btn btn-default btn-large" value="CLR"/>
    </div>
    <div><%= submit_tag "Pour", :class => "btn btn-primary btn-large" %></div>
  <% end %>
<% else %>
  <h2> No Keg On Tap, Check back later! </h2>  
<% end %>
</div>
  
<script type="text/javascript" charset="utf-8">
  
  $(".keypad-btn").click(function(){
    num($(this));
    $(".msg").val("");
  });
  
  function num(b){
    btn_val = b.val()
    prev_val = $("#numbeer_id").val();
    
    switch(btn_val){
      case "DEL":
        new_val = prev_val.slice(0,-1)
        break;
      case "CLR":
        new_val = ""
        break;
      default:
        new_val = prev_val + btn_val;
    }
    
    $("#numbeer_id").val(new_val)
  }
  
</script>