<div id="pour" class="text-center">
<% if @keg.present? %>
  <div id="pour-on-tap">
    <h1>Currently on Tap:</h1>
    <br>
    <h2><%= @keg.get_brewer %></h2>
    <h3><%= @keg.get_name + "(" + @keg.get_style + ")" %></h3>
    <br>
  </div>

  <%= form_tag("/transactions", method: "post", :honeypot => true ) do %>
    <div><%= label_tag(:numbeer_id, "NumBeer-ID :") %></div>
  <div><%= text_field_tag :numbeer_id, nil, :class => 'numBeerField' %></div>
    <div id="keypad" class="keypad vertical-align:top;">
      <input type="button" class="keypad-btn btn btn-default btn-xl" value="7"/>
      <input type="button" class="keypad-btn btn btn-default btn-xl" value="8"/>
      <input type="button" class="keypad-btn btn btn-default btn-xl" value="9"/><br/>
      <input type="button" class="keypad-btn btn btn-default btn-xl" value="4"/>
      <input type="button" class="keypad-btn btn btn-default btn-xl" value="5"/>
      <input type="button" class="keypad-btn btn btn-default btn-xl" value="6"/><br/>
      <input type="button" class="keypad-btn btn btn-default btn-xl" value="1"/>
      <input type="button" class="keypad-btn btn btn-default btn-xl" value="2"/>
      <input type="button" class="keypad-btn btn btn-default btn-xl" value="3"/><br/>
      <input type="button" class="keypad-btn btn btn-default btn-xl" value="DEL"/>
      <input type="button" class="keypad-btn btn btn-default btn-xl" value="0"/>
      <input type="button" class="keypad-btn btn btn-default btn-xl" value="CLR"/>
    </div>
    <div><%= submit_tag "Pour", :class => "btn btn-primary btn-xl" %></div>
  <% end %>
<% else %>
  <h2> No Keg On Tap, Check back later! </h2>  
<% end %>
</div>
  
<script type="text/javascript" charset="utf-8">
  
  jQuery(document).ready(function () {
    //hide the .msg div after 3 seconds
    setTimeout(function(){ jQuery(".msg").hide(); }, 3500);
  });

  $(window).bind("pageshow", function() {
    // Be sure to clear the numbeer_id when hitting the back button
    $("#numbeer_id").val("")
  });
  
  $(".keypad-btn").click(function(){
    num($(this));
  });
 
  
  function num(b){
    btn_val = b.val()
    prev_val = $("#numbeer_id").val();
    
    switch(btn_val){
      case "DEL":
        new_val = prev_val.slice(0,-1)
        break;
      case "CLR":
        new_val = ""
        break;
      default:
        new_val = prev_val + btn_val;
    }
    
    $("#numbeer_id").val(new_val)
  }
  
</script>