<div class="text-center">
<% if @keg.present? %>
  <div id="pour-title">
    <h2>Pour a Beer</h2>
    <p>Enter in your NumBeer-id and click 'Pour'. If the ID is valid, then you will be allowed to pour a beer.</p>
  </div>

  <div id="pour-on-tap">
    <h3>Currently on Tap:</h3>
    <h2><%= @keg.get_info() %></h2>  
  </div>

  <%= form_tag("/pour", method: "post", :honeypot => true ) do %>
    <div><%= label_tag(:numbeer_id, "NumBeer-ID :") %></div>
    <div><%= password_field_tag(:numbeer_id) %></div>
    <div>
<!--     <input id="num" name"number" type="text" pattern="[0-9]{6}" onfocus="num('keypad').style.display='inline-block';"/>

    <div id="keypad" class="background:#AAA; vertical-align:top;">
    <input type="button" value="7" onclick="num('num').value+=7;"/>
    <input type="button" value="8" onclick="num('num').value+=8;"/>
    <input type="button" value="9" onclick="num('num').value+=9;"/><br/>
    <input type="button" value="4" onclick="num('num').value+=4;"/>
    <input type="button" value="5" onclick="num('num').value+=5;"/>
    <input type="button" value="6" onclick="num('num').value+=6;"/><br/>
    <input type="button" value="1" onclick="num('num').value+=1;"/>
    <input type="button" value="2" onclick="num('num').value+=2;"/>
    <input type="button" value="3" onclick="num('num').value+=3;"/><br/>
    <input type="button" value="X" onclick="num('keypad').style.display='none'"/>
    <input type="button" value="0" onclick="num('num').value+=0;"/>
    <input type="button" value="&larr;" onclick="num('num').value=num('num').value.substr(0,num('num').value.length-1);"/>
    </div> -->
    </div>
    <div><%= submit_tag "Pour", :class => "btn btn-primary btn-large" %></div>
  <% end %>
<% else %>
  <h2> No Keg On Tap, Check back later! </h2>  
<% end %>
</div>
  
<script type="text/javascript" charset="utf-8">

	$(function(){
		$("input#numbeer_id").focus();
	});
  
  function num(id) { return document.getElementById(id); }
</script>