<%= content_for :head do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  
  <%= javascript_include_tag "piechart" %>
  <%= javascript_include_tag "liquidFillGauge" %>
  <%= javascript_include_tag "stats" %>
<% end %>

<div id="general_stats" class="row text-center">
  <div class="span12 label label-info"><h2>General Stats</h2></div>
  <div class="span12">
    <div class="span4 pie_stat">
      <h2>Pour Totals : Current Keg</h2>
      <div id="pours_by_user_keg"></div>
    </div>

    <div class="span4 pie_stat">
      <h2>Keg Gauge</h2>
      <div class="keg_gauge_container">
        <svg id="keg_gauge" width="97%" height="250"></svg>
      </div>
    </div>

    <div class="span4 pie_stat">
      <h2>Pour Totals : Lifetime</h2>
      <div id="pours_by_user_lifetime"></div>
    </div>
  </div>
  
  <div class="span12">
    <div class="span4 stat">
      <h2>Last Pour</h2>
      <div class="stat_val">
        <%= last_pour %>
      </div>
    </div>

    <div class="span4 stat">
      <h2>Estimated Cost / Pour : Current Keg</h2>
      <div class="stat_val">
        <%= number_to_currency(current_cost_per_pour(@keg)) %>
      </div>
    </div>
    
    <div class="span4 stat">
      <h2>Current Keg</h2>
      <div class="stat_val">
        <%= Keg.get_keg_on_tap.get_info %>
      </div>
    </div>
  </div>
  
</div>

<% if user_signed_in? or admin? %>
<div id="personal_stats" class="row text-center">
  <div class="span12 label label-success"><h2>Personal Stats</h2></div>
  <div class="span12">
  <div class="span4 stat">
    <h2>Current Pours</h2>
    <div class="stat_val">
      <%= user_pours_current_keg(current_user, @keg) %>
    </div>
  </div>
  
  <div class="span4 stat">
    <h2>Pours in Past Week</h2>
    <div class="stat_val">
      <%= user_pours_past_week(current_user) %>
    </div>
  </div>
  
  <div class="span4 stat">
    <h2> Last Pour was: </h2>
    <div class="stat_val">
      <%= user_last_pour(current_user) %>
    </div>
  </div>
  </div>
  
</div>
<% end %>