<div id="general_stats" class="row text-center">
  <div class="span12 label label-info"><h2>General Stats</h2></div>
  
  <div class="span4 stat">
    <h2>Total Pours</h2>
    <div class="stat_val">
      <%= total_pours() %>
    </div>
  </div>

  <div class="span4 stat">
    <h2>Most Pours by One User</h2>
    <div class="stat_val">
      <%= most_pours_by_a_user()%>
    </div>
  </div>

  <div class="span4 stat">
    <h2>Last Pour was: </h2>
    <div class="stat_val">
      <%= last_pour() %>
    </div>
  </div>
</div>

<div id="personal_stats" class="row text-center">
  <div class="span12 label label-success"><h2>Personal Stats</h2></div>
  
  <div class="span4 stat">
    <h2>Current Pours</h2>
    <div class="stat_val">
      <%= user_pours_current_keg(current_user, @keg) %>
    </div>
  </div>
  
  <div class="span4 stat">
    <h2>Pours in Past Week</h2>
    <div class="stat_val">
      <%= user_pours_past_week(current_user) %>
    </div>
  </div>
  
  <div class="span4 stat">
    <h2> Last Pour was: </h2>
    <div class="stat_val">
      <%= user_last_pour(current_user) %>
    </div>
  </div>
</div>