<%= form_for [:admin, @transaction], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :keg_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:keg_id, Keg.all, :id, :get_name_date) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:contact_id, Contact.all, :id, :full_name) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            admin_transactions_path, :class => 'btn' %>
  </div>
<% end %>
