<!DOCTYPE html>
<html>
<head>
  <title>Numbeers</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
  <%= nav_bar :brand => "NumBeers", :brand_link => root_path, :responsive => true do %>
    <%= menu_group do %>
      <% if user_signed_in? or admin? %>
        <%= menu_item "Stats", stats_path %>
      <% end %>

      <% if admin? %>
        <%= menu_item "Dashboard", dashboard_path %>
      <% end %>
    <% end %>

    <%= menu_group :pull => :right do %>
      <% if user_signed_in? %>
        <%= menu_item 'Edit Profile', edit_user_registration_path %>
        <%= menu_item "Logout", destroy_user_session_path, method: :delete %>
      <% else %>    
        <%= menu_item "Sign up", new_user_registration_path %>
        <%= menu_item "Login", new_user_session_path %>      
      <% end %>
    <% end %>
  <% end %>
  
  <div class="container">
    <section class="content">
      <%= yield %>
    </section>

    <section class="messages">
      <% if notice %>
        <p class="notice msg"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert msg"><%= alert %></p>
      <% end %>
    </section>
  </div>
  
  <footer class="navbar-fixed-bottom">
    <div class="info">
      <%= link_to "About", about_path, class: "info-link" %>
      <%= link_to "Contact", contact_path, class: "info-link" %>
    </div>
    <div class="cpyrght"> &copy; (2013-2014) NumBeers </div>
  </footer>
  
</body>
</html>
