<!DOCTYPE html>
<html>
<head>
  <title>Numbeers</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
  <%= nav_bar :brand => "NumBeers", :brand_link => root_path, :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "Pour", pour_path %>
        <%= menu_divider %>
    <% end %>
  
    <% if user_signed_in? or admin? %>
      <%= menu_item "Stats", stats_path %>
    <% end %>
    <% if admin? %>
      <%= menu_item "Dashboard", dashboard_path %>
    <% end %>
    
    <%= menu_group :pull => :right do %>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.contact.full_name %></strong>
        <%= menu_item 'Edit profile', edit_user_registration_path %>
        <%= menu_item "Logout", destroy_user_session_path, method: :delete %>
      <% else %>    
        <%= menu_item "Sign up", new_user_registration_path %>
        <%= menu_item "Login", new_user_session_path %>      
      <% end %>
    <% end %>
  <% end %>
  
  <section class="content">
    <%= yield %>
  </section>
  
  <section class="messages">
    <% if notice %>
      <p class="notice alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
  </section>
  
  <section class="info">
        <%= link_to "About", about_path, class: "info-link" %>
        <%= link_to "Contact", contact_path, class: "info-link" %>
  </section>
  
  <footer> &copy; (2013-2014) NumBeers</footer>
</body>
</html>
